
/*8.관리자페이지 메인화면(admin/admin.jsp)*/
.admin-logo{
	padding:40px;
	font-size:20px;
	font-weight:bold;
	display:inline-block;
	padding:40px;
	}
/*통계박스*/	
.site-statistics{
	width:600px;
	height:200px;
	margin:0 auto;
	text-align:center;
	display:flex;
	line-height:200%;
	border:1px solid black;
	}
	.left-statistics{
		width:300px;
		height:100px;
		padding:20px;
		}
	.right-statistics{
		width:300px;
		height:100px;
		padding:20px;
		}
/*관리도구 리스트*/
.managemant-list{
	display:flex;
	margin:20px;
	justify-content:center;
	text-align:center;
	font-weight:bold
	}
.managemant-list img{
	width:100px;
	height:100px;
	margin:20px 20px;
	}
	.user-management{
		width:200px;
		height:200px;
		margin:20px;
		border:2px solid blue;
		border-radius:20px;
		}
	.posts-management{
		width:200px;
		height:200px;
		margin:20px;
		border:2px solid blue;
		border-radius:20px;
		}
		
/*8-1.회원 관리 페이지(admin/userManage.jsp)*/
.user-button{margin:10px;padding:5px}
.admin-user .user-button{
	background:#1a3f69;
	border:1px solid black;
	color:white;
	}
.admin-user .notice-button{
	background:white;
	border:1px solid black;
	color:#1a3f69;
	}
.admin-user .user-search{
	display:inline-block;
	float:right;
	padding:20px;
	}
.admin-user table{clear:both;}

/*8-1-1.포인트 충전 페이지(admin/pointCharge.jsp)*/
.point-box{
	width:500px;
	height:300px;
	border:1px solid black;
	margin:150px auto;
	padding:20px;
	text-align:center;
	}

/*8-2.공지사항 관리 페이지(admin/noticeManage.jsp)*/
.notice-button{margin:10px;padding:5px}
.admin-notice .user-button{
	background:white;
	border:1px solid black;
	color:#1a3f69;
	}
.admin-notice .notice-button{
	background:#1a3f69;
	border:1px solid black;
	color:white;
	}
.admin-notice .notice-search{
	display:inline-block;
	float:right;
	padding:20px;
	}
.admin-notice table{clear:both;}

/*8-2-1.공지사항 작성 페이지(admin/noticeWrite.jsp)*/
.notice-write{text-align:center;}
	.notice-write textarea{resize:none;}
	.notice-write input{margin:10px}




















