th {border:1px solid #1A3F69;
		border-collapse: collapse;
		background-color:#dae1e7;
		padding:3px;
		font-size:1.5rem;
		}
td {border:1px solid #1A3F69;
		border-collapse: collapse;
		padding:1px;
		}


/* 마이페이지 페이지 */
.TH {border:1px solid #1A3F69;
     border-collapse: collapse;
     background-color:#1A3F69;
     text-align:center;
     padding:7px;
     }
.TH > a {color:white;
		     font-weight:bold;
		     font-size:1.7rem;
		     }
     
.my {margin:0 auto;
     width:800px;
     }
.myT {border:1px solid #1A3F69;
		  border-collapse: collapse;
		  width:100%;
		  margin:0 0 20px 0;
		  text-align:center;
		  font-size:1.5rem;
		  }  
					  
.myInfo {
				 border:1px solid #173F5F;
				 width:800px;
				 margin:0 auto 20px;
				 align:center;
				 text-align:center;
				 padding:30px;
				 background-color:#1A3F69;
				 }
.myInfo > a {font-weight:bold;
			 			 color:white;}

.helpDiv{display:none;}
.helpShow{background-color: white; 
					position:absolute; 
					top:500px; 
					left:50%; 
					height:125px;
					width:280px;
					border:1px solid #1a3f69;
					margin: 0 0 0 10px;
					line-height:60px;
					text-align:center;
					font-size:1.6rem;
					}
.helpDiv2{display:none;}
.helpShow2{background-color: white; 
					position:absolute; 
					top:200px; 
					left:50%; 
					height:300px;
					width:400px;
					border:1px solid #1a3f69;
					margin: 0 0 0 -200px;
					line-height:60px;
					text-align:center;
					font-size:1.6rem;
					}
#helpClose{float:right;
					 background-color: white;
					 border:none;
					 padding:10px;}
#helpBtn {background-color:#f7f7f7;
		border:1px solid #9E9E9E;
		width:20px; height:20px;
		border-radius:10px;
		text-align:center;
		margin:0 auto;
		font-size:12px;
		vertical-align:middle;
		line-height:10px;}
#helpBtn2 {background-color:#f7f7f7;
		border:1px solid #9E9E9E;
		width:20px; height:20px;
		border-radius:10px;
		text-align:center;
		margin:0 auto;
		font-size:12px;
		vertical-align:middle;
		line-height:10px;}
		
 /* 내 정보 페이지 */
.myDiv {margin:0 auto;
	    	width:600px;
	    }
.infoH {
		 		width:25%;
		 		padding:20px;
		 		background-color:#dae1e7;
		 		color:#1A3F69;
		 		}
 		
.infoContent {
						  padding:0 40px;
						  text-align:left;
						  }
.toMyPointBtn {
							 border:1px solid #1A3F69;
							 color:#1A3F69;
							 padding:5px;
						 	 }
.infoBtn-wrapper {
				  text-align:center;
				  }
.infoBtn {display:inline-block;
				  border:1px solid #173F5F;
				  background-color:#1A3F69;
				  color:white;
				  width:157px;
				  height:60px;
				  margin:20px;
				  padding:20px;
				  text-align:center;
				  font-size:1.5rem;
				  font-weight:bold;
				  }
		  
/* 관심주식 페이지*/
.moveFavorite {
			   margin:10px 0;
			   float:left;
			   }
.btn-up {}
.btn-down {}
.btn-del{}

.insertFavorite {
				 margin:10px 0;
				 float:right;
}
.inlineDiv {
			display:inline;
			}
			
.myDivT {border:1px solid #1A3F69;
	  border-collapse: collapse;
	  width:100%;
	  margin:0 0 20px 0;
	  font-size:1.5rem;
	  padding:10px;
	  }
.center {text-align:center;
		 padding:0 0 10px 0;
		 font-weight:bold;}