/*1.로그인 화면*/
.login form{
	width:500px;
	height:200px;
	margin:0 auto;
	border:1px solid black;
	padding:50px 100px;
	}
	
/*2.회원가입 화면*/
.join form{
	width:1000px;
	height:500px;
	margin:0 auto;
	border:1px solid black;
	padding:50px 100px;
}