.board{
	width:1000px;
	margin:0 auto;
	padding:10px;
	}
	
.board-search .board-searchbar{
	float : right;
}

.boardContent{
	width:1000px;
	margin:0 auto;
	align:center;
	padding:10px;
}
.likeandhate{
	height:20px;
	width:20px;
}
.boardContent-buttons{
	align:center;
	padding:10px;
}

.boardContent-Comment .boardContent-Comment-comment{
	float : left;
	display : inline-block;
}

.boardContent-Comment .boardContent-Comment-input{
	align:center;
	height: 100px;
	padding:10px;
}
.boardContent-Comment .boardContent-Comment-input .input{
	width: 80%;
    float:left;
    height: 100px;
    padding:10px;
}
.boardContent-Comment .boardContent-Comment-input .button{
	width:20%;
	float : right;
	height: 100px;
	padding:10px;
}

.boardWrite{
	width:1000px;
	margin:0 auto;
	align:center;
	padding:10px;
}

.boardModify{
	width:1000px;
	margin:0 auto;
	align:center;
	padding:10px;
}

.boardWrite .boardWrite-Input{
}
.boardWrite .boardWrite-Inputbutton{
}
