
/*공통 디자인*/
.clear{clear:both;}

a {text-decoration:none;}
* {box-sizing:border-box;}

html{font-size:10px}
body{
	min-width:1060px;
	font-size:1.8em;
	font-family: Roboto, sans-serif;
	}

/*header 디자인*/
.header {
	background:#1A3F69;
	height:80px;
	padding:15px 0 10px;
	}
.header .logo {
	position:absolute;
    top:22px;
    left:50px;
    margin:0;
    color:white;
    }
.header .nav {text-align:left;}
.header .list {
	position:absolute; 
	text_align:center;
    top:15px;
    left:200px;
    margin:20px 50px;
    }
.header .list2 {
	position:absolute;
    top:15px;
    right:50px;
    margin:15px 50px 15px 0;
    }
.header .list2::after{
	content:"";
	display:block;
	clear:both;
	}
.header .list-item {
	display:inline;
	font-size:1.6rem;
	font-weight:700;
	padding:30px;
	}
.header .list-item_search{
	display:inline;
	font-size:1.6rem;
	font-weight:700;
	padding:30px 160px 30px 0px;
	}
.header .list-item_log{
	display:block;
	font-size:1.6rem;
	font-weight:700;
	padding:30px;
	}
.header .list-item_log> a {
	color:white;
	width:100px;
	position:absolute;
	top:0px;
	right:30px;
	color:#486587;
	background:white;
	padding:6px 20px;
	margin:0 auto;
	text-align:center;
	font-size:1.6rem;
	}
.header .list-item_log>a:hover{background:#D1D9E1;}
.header .list-item>a{color:#D1D9E1;}
.header .list-item>a:hover{color:white;}

/*main 디자인*/
.main{min-height:750px;}

/*footer 디자인*/
.footer{text-align:center}