th {border-bottom:1px solid #dae1e7;
	border-collapse: collapse;
	background-color:white;
	padding:3px;
	font-size:1.5rem;
	}
td {border-bottom:1px solid white;
	border-collapse: collapse;
	padding:1px;
	}


/* 마이페이지 페이지*/
.TH {border-top:2px solid #1A3F69;
     border-bottom:1px solid #dae1e7;
     border-collapse: collapse;
     background-color:#f6f6f6;
     text-align:center;
     padding:7px;
     }
.TH > a {
	     font-weight:700;
	     font-size:1.7rem;
			}
.my {margin:0 auto;
     width:800px;
     }
.myT {border-bottom:1px solid #1A3F69;
	  border-collapse: collapse;
	  width:100%;
	  margin:0 0 20px 0;
	  text-align:center;
	  font-size:1.5rem;
	  }  
					  
.myInfo {border-top:2px solid #173F5F;
		 border-bottom:2px solid #173F5F;
		 width:800px;
		 margin:0 auto 20px;
		 align:center;
		 text-align:center;
		 padding:30px;
		 background-color:#f6f6f6;
		 }

.myInfo > a {font-weight:bold;color:black;}


 /* 내 정보 페이지 */
.myDiv {margin:0 auto;
	    width:600px;
	    }
.infoH {
 		width:20%;
 		padding:20px;
 		background-color:#dae1e7;
 		color:#1A3F69;
 		}
 		
.infoContent {
			  padding:0 40px;
			  text-align:left;
			  }

.infoBtn-wrapper {
				  text-align:center;
				  }
.infoBtn {display:inline-block;
		  border:1px solid #173F5F;
		  background-color:#1A3F69;
		  color:white;
		  width:155px;
		  height:60px;
		  margin:20px;
		  padding:20px;
		  text-align:center;
		  font-size:1.5rem;
		  font-weight:bold;
		  }
		  
/* 관심주식 페이지*/
.moveFavorite {
			   margin:10px 0;
			   float:left;
			   }
.btn-up {
	   	 }
.btn-down {
	   	   }
.btn-del{
	   	 }

.insertFavorite {
				 margin:10px 0;
				 float:right;
}
.inlineDiv {
			display:inline;
			}
			
.myDivT {border:1px solid #1A3F69;
	  border-collapse: collapse;
	  width:100%;
	  margin:0 0 20px 0;
	  font-size:1.5rem;
	  padding:10px;
	  }
.center {text-align:center;
		 padding:0 0 10px 0;
		 font-weight:bold;}